@model PizzeriaImpulsMVC.Application.ViewModels.ShoppingCart.OrderVm

<h1>
    Finish Order
</h1>

<style>
    .col1{
        width:30%;
        float:left;
        margin-right: 10%;
    }
    .col2{
        width:45%;
        float:left;
    }
</style>

<hr />
<div class="container">
    <div class="row">
        <form asp-action="MakeOrder">
            <div class="col1">
                    <div>
                    <h5>
                        Set delivery address details and make your order.
                    </h5>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" class="form-control" />
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="City" class="control-label"></label>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Street" class="control-label"></label>
                        <input asp-for="Street" class="form-control" />
                        <span asp-validation-for="Street" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HomeNumber" class="control-label"></label>
                        <input asp-for="HomeNumber" class="form-control" />
                        <span asp-validation-for="HomeNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ApartmentNumber" class="control-label"></label>
                        <input asp-for="ApartmentNumber" class="form-control" />
                        <span asp-validation-for="ApartmentNumber" class="text-danger"></span>
                    </div>
                    <br />
                    <div>
                        <a asp-action="Index" class="btn btn-secondary">Back to Cart</a>
                    </div>
                </div>
            </div>
            <div class="col2>">
                <div>
                    <h5>
                        Order details
                    </h5>
                    <table class="table" style="width:50%">
                        <thead>
                            <tr>
                                <th style="width:15%">
                                    Product Name
                                </th>
                                <th style="width:8%">
                                    Size [l]
                                </th>
                                <th style="width:4%">
                                    Count
                                </th>
                                <th style="width:8%">
                                    UnitPrice [$]
                                </th>
                                <th style="width:8%">
                                    TotalPrice [$]
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OrderDetailVms) 
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProductName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProductSize)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProductCount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UnitPrice)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Price)
                                    </td>
                                </tr>
                            }
                            <tr>
                                <th>
                                    Summary
                                </th>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                                <th>
                                    @Html.DisplayFor(modelItem => modelItem.Total)
                                </th>
                                    
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Pay" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>




