@model PizzeriaImpulsMVC.Application.ViewModels.Report.ListGeneratedSalesReportVm

<h1>
    Sales report
</h1>

<br />

@Html.ActionLink(
    "Generate XLSX",             // linkText
    "GenerateXLSX",                   // actionName
    "Report",                    // controllerName
    new {                      // routeValues
        dateFrom = @Model.Rows.Select(x=> x.OrderDate).Min(), 
        dateTo = @Model.Rows.Select(x=> x.OrderDate).Max().AddSeconds(5)
    },
    new{@class = "btn btn-success"}                     // htmlAttributes
)

@Html.ActionLink(
    "Generate CSV",             // linkText
    "GenerateCSV",                   // actionName
    "Report",                    // controllerName
    new {                      // routeValues
        dateFrom = @Model.Rows.Select(x=> x.OrderDate).Min(), 
        dateTo = @Model.Rows.Select(x=> x.OrderDate).Max().AddSeconds(5) 
    },
    new{@class = "btn btn-success"}                        // htmlAttributes
)

@Html.ActionLink(
    "Generate PDF",             // linkText
    "GeneratePDF",                   // actionName
    "Report",                    // controllerName
    new {                      // routeValues
        dateFrom = @Model.Rows.Select(x=> x.OrderDate).Min(), 
        dateTo = @Model.Rows.Select(x=> x.OrderDate).Max().AddSeconds(5)
    },
    new{@class = "btn btn-danger"}                        // htmlAttributes
)

<div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        UserName
                    </th>
                    <th>
                        Price [$]
                    </th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Rows)
            {
                <tr>
                    <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                    </td>
                </tr>
            }
            </tbody>
        </table>
</div>
