@model PizzeriaImpulsMVC.Application.ViewModels.Component.ListComponentForListVm


<h1>
    Components
</h1>

<p>
    <a asp-action="AddComponent" class="btn btn-success">Add Component</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Price (zł)
            </th>
            <th>
                IsMeat
            </th>
            <th>
                Actions
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Components) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsMeat)
            </td>
            <td>
                <a asp-controller="Component" asp-action="EditComponent" asp-route-componentId="@item.Id" class="btn btn-primary">Edit</a>
                <a asp-controller="Component" asp-action="ComponentDetails" asp-route-componentId="@item.Id" class="btn btn-info">Details</a>
                <a asp-controller="Component" asp-action="DeleteComponent" asp-route-componentId="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
