@model PizzeriaImpulsMVC.Application.ViewModels.Component.ListComponentForListVm


<h1>
    Components
</h1>

@if(User.IsInRole("Manager"))
{
<p>
    <a asp-action="AddComponent" class="btn btn-success">Add Component</a>
</p>
}

<form asp-action="Index" asp-controller="Component" method="post">
    <p>
        <input type="text" asp-for="FilterString" name="filterString" id="filterString" />
        <input type="submit" class="btn-muted" value="Search"/>
    </p>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Price [$]
                    </th>
                    <th>
                        IsMeat
                    </th>
                    <th>
                        Actions
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model.Components) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsMeat)
                    </td>
                    <td>
                        @if(User.IsInRole("Manager"))
                        {
                            <a asp-controller="Component" asp-action="EditComponent" asp-route-componentId="@item.Id" class="btn btn-primary">Edit</a>
                            <a asp-controller="Component" asp-action="GetComponentDetails" asp-route-componentId="@item.Id" class="btn btn-info">Details</a>
                            <a asp-controller="Component" asp-action="DeleteComponent" asp-route-componentId="@item.Id" class="btn btn-danger">Delete</a>
                        }
                        else
                        {
                            <a asp-controller="Component" asp-action="GetComponentDetails" asp-route-componentId="@item.Id" class="btn btn-info">Details</a>
                        }
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
    <div>
        <center>
            <table>
                <tr>
                    @for(int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                    {
                       <td>
                            @if(i != Model.CurrentPage)
                            {
                                <a href="javascript:PagerClick(@i)">@i</a>
                            }
                            else
                            {
                                <span>@i</span>
                            }
                        </td> 
                    }
                </tr>
            </table>
            <input type="hidden" name="pageNumber" id="pageNumber" />
            <input type="hidden" name="pageSize" id="pageSize" value="5" />
        </center>
    </div>
</form>

@section Scripts
{
    <script type="text/javascript">
        function PagerClick(index)
        {
            document.getElementById("pageNumber").value = index;
            document.forms[1].submit();
        }
    </script>
}
