@model PizzeriaImpulsMVC.Application.ViewModels.Pizza.PizzaForListVm

<div>
    <h4>@Html.DisplayFor(model => model.Name) Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
            [ZŁ]
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsMeat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsMeat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Components)
        </dt>
        <dd class = "col-sm-10">           
            @foreach(var item in Model.Components)
            {
                @Html.DisplayFor(modelItem => item.Name) <br />
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
