@model PizzeriaImpulsMVC.Application.ViewModels.Addition.ListAdditionForListVm

<h1>
    Additions
</h1>

<p>
    <a asp-action="AddAddition"  class="btn btn-success">Add Addition</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Price (zł)
            </th>
            <th>
                Actions
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Additions) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-controller="Addition" asp-action="EditAddition" asp-route-additionId="@item.Id" class="btn btn-primary">Edit</a>
                <a asp-controller="Addition" asp-action="AdditionDetails" asp-route-additionId="@item.Id" class="btn btn-info">Details</a>
                <a asp-controller="Addition" asp-action="DeleteAddition" asp-route-additionId="@item.Id" class="btn btn-danger">Delete</a>
                <a asp-controller="Cart" asp-action="AddAdditionToCart" asp-route-additionId="@item.Id" class="btn btn-warning">Add To Cart</a>
            </td>
        </tr>
}
    </tbody>
</table>
